<table border="0" width="70%" style="padding-left: 120px;">
	<tr>
		<td colspan="2"><p id="notice"><%= notice %></p></td>
	</tr>
	<tr>
		<td width="70%"><h2><%= @gallery.title %></h2></td>
		<td><%= link_to 'Edit Gallery', edit_gallery_path(@gallery) %> |
			<a href="/galleries/<%= @gallery.id %>/images/new">Add Image</a></td>
	</tr>
	<tr>
		<td colspan="2"><%= @gallery.description %></td>
	</tr>
	<tr><td colspan="2" align="center"><%= page_entries_info @images %></td></tr>
	<tr>
		<td colspan="2">
			<% i=0 %>
			<table width="80%">
				<tr>
				<% @images.each do |image| %>
					<% i=i+1 %>
					<td>
						<b><%= image.title %></b><br />
						<a rel="example_group" href="<%= image.img.url(:original) %>" class="fancybox"><%= (image_tag image.img.url(:small), :border => "0") %></a><!--<br />
						<%= link_to 'Edit', edit_image_path(image) %> |
						<%= link_to 'Delete', image, confirm: 'Are you sure?', method: :delete %>-->
					</td>
				<% if i%3 == 0 %>
				</tr>
				<% end %>
				<% end %>
			</table>
		</td>		
	</tr>
	<tr><td colspan="2"><div class="apple_pagination"><%= will_paginate @images %></div></td></tr>
	<tr>
		<td colspan="2">
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="/galleries/<%= @gallery.id %>/images/new">Add Image</a><!-- |
			<a href="/galleries/<%= @gallery.id %>/images">Edit Image</a> |
			<%= link_to 'Back', galleries_path %>-->
		</td>
	</tr>
</table>
