<p id="notice"><%= notice %></p>

<h3><%= @gallery.title %></h3>  

<p>
  <%= @gallery.description %>
</p>

<a href="/images/new">Add Image</a>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
