<table border="0" width="70%" style="padding-left: 120px;">
	<tr>
		<td colspan="2"><p id="notice"><%= notice %></p></td>
	</tr>
	<tr>
		<td width="70%"><h2><%= @gallery.title %></h2></td>
		<td><%= link_to 'Edit Gallery', edit_gallery_path(@gallery) %> |
			<a href="/galleries/<%= @gallery.id %>/images/new">Add Image</a></td>
	</tr>
	<tr>
		<td colspan="2"><%= @gallery.description %></td>
	</tr>
	<tr><td colspan="2" align="center"><%= page_entries_info @images %></td></tr>
	<tr>
		<td colspan="2">
			<% tot = @images.count %>
			<% i=0 %>
			<table width="80%">
				<tr>
				<% @images.each do |image| %>
					<% i=i+1 %>
					<td>
						<b><%= image.title %></b><br />
						<a rel="example_group" href="<%= image.img.url(:original) %>" class="fancybox"><%= (image_tag image.img.url(:small), :border => "0") %></a>
					</td>
				<% if i%3 == 0 %></tr><% end %>
				<% end %>
			</table>
		</td>		
	</tr>
	<tr><td colspan="2"><div class="apple_pagination"><%= will_paginate @images %></div></td></tr>
	<tr>
		<td colspan="2">
			<table width="70%" border="0">
				<tr>
					<td valign="top">
						<h3>Speed:</h3>
						<p>
						  Global Avg: <%= ratings_for @gallery, :dimension => :speed %>
						</p>
						Your rating: <%= ratings_for @gallery, :force_static => true, :dimension => :speed, :small => true, :show_user_rating => true %>
					</td>
					<td valign="top">
						<h3>Beauty:</h3>
						<p>
						  Global Avg: <%= ratings_for @gallery, :dimension => :beauty %>
						</p>
						Your rating: <%= ratings_for @gallery, :force_static => true, :dimension => :beauty, :small => true, :show_user_rating => true %>
					</td>
					<td valign="top">	
						<h3>Price:</h3>
						<p>
						  Global Avg: <%= ratings_for @gallery, :dimension => :price %>
						</p>
						Your rating: <%= ratings_for @gallery, :force_static => true, :dimension => :price, :small => true, :show_user_rating => true %>
					</td>
					<td valign="top">
						<h3>Raters</h3>
						<% for rater in @gallery.raters(:speed) %>
						  <p><%= rater.username %>:</p>
						  <%= ratings_for @gallery, rater, :dimension => :speed, :show_user_rating => true %>
						<% end %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="/galleries/<%= @gallery.id %>/images/new">Add Image</a>
		</td>
	</tr>
</table>
