<table border="0" width="70%" style="padding-left: 120px;">
	<tr>
		<td colspan="2"><p id="notice"><%= notice %></p></td>
	</tr>
	<tr>
		<td width="50%"><h2><%= @gallery.title %></h2></td>
		<td><%= link_to 'Edit Gallery', edit_gallery_path(@gallery) %></td>
	</tr>
	<tr>
		<td colspan="2"><%= @gallery.description %></td>
	</tr>
	<tr>
		<td colspan="2">
			<% @images.each do |image| %>
				<a rel="example_group" href="<%= image.img.url(:original) %>" class="fancybox"><%= (image_tag image.img.url(:thumb), :border => "0") %></a>
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="/galleries/<%= @gallery.id %>/images/new">Add Image</a> |
			<a href="/galleries/<%= @gallery.id %>/images">Edit Image</a><!-- |
			<%= link_to 'Back', galleries_path %>-->
		</td>
	</tr>
</table>

