<p id="notice"><%= notice %></p>

<h3><%= @gallery.title %></h3>  

<p>
  <%= @gallery.description %>
</p>

<p>
  <% @images.each do |image| %>
	<a rel="example_group" href="<%= image.img.url(:original) %>" class="fancybox"><%= (image_tag image.img.url(:thumb), :border => "0") %></a>
  <% end %>
</p>

<a href="/images/new">Add Image</a> |
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
<p id="notice"><%= notice %></p>

<h3><%= @gallery.title %></h3>  

<p>
  <%= @gallery.description %>
</p>
<p>
  <% @images.each do |image| %>
  <a rel="example_group" href="<%= image.img.url(:original) %>" class="fancybox"><%= image_tag image.img.url(:thumb) %></a>
  <% end %>
</p>
<a href="/images/new">Add Image</a> |

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
>>>>>>> 27f4df6c849ec0a8cc5ee12c7d95b61bc393fdf4
