<p id="notice"><%= notice %></p>

<p>
  <b>Gallery:</b>
  <%= @image.gallery_id %>
</p>

<p>
	<%= image_tag @image.img.url(:small) %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
